@media(max-width: 620px){
    .cabecalho{
        padding: 30px 0;
    }

    .cardapio-slider{
        padding: 0 0px;
        gap: 10px;
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .lista-semana{
        height: 480px;
    }
}